$visual-grid: true;

@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

.body {
    @include outer-container;
    @include span-columns(3);
    margin-left:  60%;
}
button {
    width: 55px;
    height: 55px;
}
.columns {
    background-color: rgba(206, 206, 206, 1);
    color: chocolate;
    font-size: 2em;
    display: inline-block;
}
.column4 {
    
    font-size: 2em;
    margin: 10px;
    margin-bottom: 10px;
}
.column5 {
    background-color: rgba(245, 146, 62, 1);
}
