$visual-grid: true;
$gutter: 0;
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';
body {
  margin: 0;
  margin-top: 0;
}
display {

}
.calc {
  background-color: rgba(65, 131, 126, 1);
  height: 50px;
  border-bottom-color: rgba(0, 52, 48, 1);
  border-bottom: 4px;
}
.container {
  width: 350px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid;
  position: relative;
  top: 50%;
  transform: translateY(50%);
  background-color: rgba(35, 104, 99, 1);
}
.number,
.numberZ {
  background-color: rgba(98, 243, 255, 1);
}
.numberend {
  background-color: rgba(255, 170, 78, 1);
}
.number,
.numberend {
    width: 55px;
    height: 55px;
}
.numberZ {
  width: 125px;
  height: 55px
}
.columns {
    font-size: 2em;
    margin: 10px;
    margin-top: 2%;
    display: inline-block;
}
.column1,
.column2,
.column3,
.column4,
.column5 {
  font-size: 2em;
  margin: 10px;
  margin-top: 2%;
  display: inline-block;
}
